.DS_Store
.AppleDouble
*.*~
*._*
*.swp
*.log
*.nc
*.pdf
*.pyc
*pycache*
/__pycache__/*
prueba*
Prueba*
Prueba/*
Info/*
Data/*
.ipynb_checkpoints/*
dask-worker-space/*
Mejoras/.ipynb_checkpoints/*
.vscode/*
AnalisisCampanas.ipynb
.vscode/settings.json
