.DS_Store
.AppleDouble
*.*~
*._*
*.swp
*.log
*.nc
*.pdf
*.pyc
*pycache*
/__pycache__/*
prueba*
Prueba*
Prueba/*
Info/*
2025/*
Data2025/*
Data/*
DataIsmael/*
.ipynb_checkpoints/*
dask-worker-space/*
Mejoras/.ipynb_checkpoints/*
.vscode/
.vscode/*
/.vscode/*
