.DS_Store
.AppleDouble
*.*~
*._*
*.swp
*.log
*.nc
*.mat
*.npy
*.zip
*.pdf
!Presentacion.pdf
*.pyc
*pycache*
/__pycache__/*
prueba*
Prueba*
Prueba/*
Data/*
Info/*
2025/*
.ipynb_checkpoints/*
dask-worker-space/*
Mejoras/.ipynb_checkpoints/*
.vscode/
.vscode/*
/.vscode/*
